<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Walker Rout's portfolio">
    <title>{% block title %}Walker's Portfolio{% endblock title %}</title>
    <!-- 
      technically dont need to include this icon here, but it makes the path explicit,
      so its easier to determine in the future if an error is due to moving the favicon
      path around...
    -->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <!-- optimize css loading with swap to render on load -->
    <link
      rel="preload"
      as="style"
      href="/static/css/fonts.css"
      onload="this.onload=null;this.rel='stylesheet'">
    <!-- fallback -->
    <noscript>
      <link rel="stylesheet" href="/static/css/fonts.css">
    </noscript>
    <!-- base.css is critical, load it blocking to prevent FOUC -->
    <link rel="stylesheet" href="/static/css/base.css">
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <main>
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
    </main>
    <footer>
      <a href="/">
        <p>&copy; 2025 Walker Rout. All rights reserved.</p>
      </a>
    </footer>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
