{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block extra_css %}
  <link rel="preload" href="/static/css/home.css" as="style">
  <link rel="stylesheet" href="/static/css/home.css">
{% endblock extra_css %}

{% block content %}
  <div class="home">
    <div class="intro">
      <p>
        Hi, I'm {{ name }}!
        <br>
        I am a {{ age }} year old Cognitive Systems student at UBC...
      </p>
      <br>
      <p>
        Check out my <a href="https://github.com/WalkerRout/">Github</a>...
        <br>
        Or my <a href="/cv">CV</a>...
      </p>
    </div>
  </div>
{% endblock content %}
