name: deploy to kunlun

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: checkout codebase
      uses: actions/checkout@v4
    
    - name: deploy golf portfolio
      env:
        RUST_TARGET: ${{ secrets.RUST_TARGET }}
        TUNNEL_TOKEN: ${{ secrets.TUNNEL_TOKEN }}
      run: |
        sleep 5
        docker compose -f compose.yml -f compose.production.yml --profile production down || true
        sleep 5
        docker compose -f compose.yml -f compose.production.yml --profile production up --build -d